@model IEnumerable<SuperHeroesDB.Models.Team>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (Context.Request.Cookies.ContainsKey("UserLogin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @if (Context.Request.Cookies.ContainsKey("UserLogin"))
                {
                        <a asp-action="Edit" asp-route-id="@item.TeamId">Edit</a>
                        <span> | </span>
                }

                <a asp-action="Details" asp-route-id="@item.TeamId">Details</a> |

                @if (Context.Request.Cookies.ContainsKey("UserLogin"))
                    {
                        <span> | </span>
                        <a asp-action="Delete" asp-route-id="@item.TeamId">Delete</a>                
                    }
                </td>
        </tr>
}
    </tbody>
</table>
