@model IEnumerable<SuperHeroesDB.Models.Hero>

@{
    ViewData["Title"] = "Index";
}

<h1>Heroes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Heroes" asp-action="Index" method="get">
    <p>
        Search by hero's nickname <input type="text" name="searchString"/>
        <input type="submit" value="Search" class="btn btn-primary btn-sm"/>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HeroName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HeroName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.TeamName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HeroId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HeroId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HeroId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
